@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-sand-100: #FFF2DA;
  --color-sand-200: #FFE3AF;
  --color-sand-300: #FCD489;
  --color-sand-700: #E69968;
  --color-sand: #E69968;

  --color-hl: #6ABBD3;
}

/* @theme {
  --color-subtle: #FFEBC5;
  --color-forward: #FFE3AF;
  --color-bold: #E69968;
  --color-highlight: #6ABBD3;
} */

/* Hide number input steppers/arrows ^ */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Header font styling ^ */
@font-face {
  font-family: 'SevenSegment';
  src: url('./assets/fonts/DS-DIGII.TTF') format('truetype');
  /* src: url('./assets/fonts/DS-DIGIB.TTF') format('truetype'); */
}

.header-font {
  font-family: 'SevenSegment', sans-serif;
}