@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  background-color: #FFF2DA;
}

/*


.header {
  margin: 0px;
  background: rgb(19, 19, 23);
  color: rgb(140, 140, 161);
  font-family: "PT Sans", sans-serif;
  padding: 15px 15px 15px 50px;
}

.nav-title {
  color: rgb(158, 112, 112);
}

.nav-item {
  font-size: 20px;
  padding-right: 20px;
}

.nav-item:hover {
  color: white;
}

.view {
  padding: 100px;
}

.task-table {
  margin-top: 10px;
}

.task-part {
  margin-right: 10px;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th, .task-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.task-table th {
  background-color: #f2f2f2;
  text-align: left;
} */